<div class="wrapper">
  <div class="main-container">
    <div class="select-container">
      <div class="select-item">
        <input
          type="number"
          value="1"
          aria-label="Поле для ввода суммы в валюте"
          min="1"
        />
        <div class="select-menu">
          <div class="select-block"></div>
          <select name="" id="currencyFrom" aria-label="тип валюты">
            <option value="USD">USD - US Dollar</option>
            <option value="EUR">EUR - EURO</option>
            <option value="UAH">UAH - Ukrainian Hryvnia</option>
            <option value="GBR">GBR - British Pound</option>
            <option value="GBR">AUD - Australian Dollar</option>
          </select>
        </div>
      </div>
      <div class="select-item">
        <input
          type="number"
          value="1"
          aria-label="Поле для ввода суммы в валюте"
          min="1"
        />
        <div class="select-menu">
          <div class="select-block"></div>
          <select name="" id="currencyFrom" aria-label="тип валюты">
            <option value="USD">USD - US Dollar</option>
            <option value="EUR">EUR - EURO</option>
            <option value="UAH">UAH - Ukrainian Hryvnia</option>
            <option value="GBR">GBR - British Pound</option>
            <option value="GBR">AUD - Australian Dollar</option>
          </select>
        </div>
      </div>
      <!-- <button>Submit</button>
    <div class="result-container">
      <p>Result</p>
    </div> -->
    </div>
  </div>
</div>
