header{
    h1{
        font-family: 'Space Mono', monospace; 
        text-align: center;
    }
    .wrapper-currency{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
}